/* styles.css */

/* 两端对齐 */
.justify-text {
  text-align: justify;
}
/* 虚线边框，颜色为灰色 */
.hr-dashed {
  display: block;
  margin: 0.1em 0;
  border: 0;
  border-top: 1px dashed #999;
}
/* 实线边框，颜色为黑色 */
.hr-solid {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 2px solid #c7c7c7; 
}

/* 使用不同的list-style-type值来设置不同的标记类型 */
/* 空心圆 */
.circle-list {
list-style-type: circle;
  }
/* 实心圆点 */
.disc-list {
  list-style-type: disc;
}
/* 方块 */
.square-list {
  list-style-type: square;
}
/* 论文引用序号格式 */
.citation-list {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}
.citation-list li {
  counter-increment: my-counter;
  margin-bottom: 7px;
}
.citation-list li::before {
  content: "[" counter(my-counter) "]";
  margin-right: 5px;
}
.citation-list li p {
  margin: 0; /* 去除段落的默认外边距 */
  text-indent: 20px; /* 设置文本缩进，与列表项的左侧保持一致 */
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}



/* 去超链接下划线 */
.no-underline {
  text-decoration: none!important;
}




#return-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1f1f1;
  color: #000;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

#return-top-button a {
  text-decoration: none;
  color: #000;
}

.current a {
  color: #000099; /* 设置活动链接的字体颜色 */
}


/* // 表格 
.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.profile-table th, .profile-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.profile-table th {
  background-color: #333;
  color: white;
} */
