/* styles.css */

/* 两端对齐 */
.justify-text {
  text-align: justify;
}


/* 虚线边框，颜色为灰色 */
.hr-dashed {
  display: block;
  margin: 0.1em 0;
  border: 0;
  border-top: 1px dashed #999;
}
/* 实线边框，颜色为黑色 */
.hr-solid {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 2px solid #c7c7c7; 
}


/* 使用不同的list-style-type值来设置不同的标记类型 */
/* 空心圆 */
.circle-list {
  list-style-type: circle;
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
  }

/* 实心圆点 */
.disc-list {
  list-style-type: disc;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}
.disc-list li {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* 方块 */
.square-list {
  list-style-type: square;
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}

/* 论文引用序号格式 */
.citation-list {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 0px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}
.citation-list li {
  counter-increment: my-counter;
  margin-top: 4px;
  margin-bottom: 4px;
}
.citation-list li::before {
  content: "[" counter(my-counter) "]";
  margin-right: 5px;
}
.citation-list li p {
  margin: 0; /* 去除段落的默认外边距 */
  text-indent: 20px; /* 设置文本缩进，与列表项的左侧保持一致 */
  font-family: 'Times New Roman', Times, serif; /* 添加字体属性 */
}



/* 去超链接下划线 */
.no-underline {
  text-decoration: none!important;
}



/* 返回顶部按钮 */
#return-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1f1f1;
  color: #000099;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

#return-top-button a {
  text-decoration: none;
  color: #000099;
}

/* 合伙人 */
.collaborator-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 0.5em 0 0.5em 0;
    font-family: 'Times New Roman', Times, serif;

    .collaborator-box-image {
        display: flex;
        width: 13%;
        order: 1;

        img {
            width: 125px;
            height: 175px;
            object-fit: cover;
        }
    }

    .collaborator-box-text {
        max-width: 87%;
        padding-left: 12px;
        line-height: 1;
        order: 2;
    }

    @include breakpoint($medium) {
        .collaborator-box-image {
            min-width: 150px;
            max-width: 20%;
            padding: 0 0 0 15px;
        }

        .collaborator-box-text {
            padding-right: 1em;
            max-width: 87%;
        }
    }
}
